*{
    margin: 0;
    padding: 0;
}
body{
    display: block;
    margin: 0px;
    min-height: 1000px;

}
.main-content{
    display: grid;
    grid-template-columns: 300px 700px ;
    min-height: 1000px;
    margin: 20px auto;
    width: 90%;
   
}
.left-section{
    grid-column: span 1;
    
    background: rgb(75, 72, 72);
}
.right-section{
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left:3rem ;
    padding-right: 3rem;

    grid-column: span 1/span 2;
    border: 1px solid black;
}
.left-content{
    padding: 1rem;
}
.profile-image img{
    padding: 1rem;
    display: block;
    margin: auto;


    border: 5px solid white;
    border-radius: 30px;
    width: 60%;
}
.name{
    font-size: 1rem;
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
    color: aliceblue;
}
.designation{

    font-size: 1rem;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    color: aliceblue;
}
.description{
    font-size: 0.75rem;
    align-items: center;
    padding: 1rem;
    color: aliceblue;
}
.social{
   
    display: flex;
    
}

.icon{
    color: aliceblue;
    width: 20%;
}
.optional{

}
.optional .icon{
    width: 80%;
    height: 30px;
    display: flex;        
    
    color: aliceblue;
}

.optional .icon img{
    height: 20px;
    color: aliceblue;
}

.skill .skills {
    text-align: center;
    color: aliceblue;

}
.skill .skills h1{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding-top :1rem ;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.skill-name{
    font-size: .65rem;
    text-align: left;
    padding-bottom: 0.5rem;
    
    color: aliceblue;
}
.skill-progress{
    
    height: 4px;
    border: 1px solid white;
    background: aquamarine;
}
.right-title{
    text-transform: uppercase;
}

.edu-content{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 3%;
}
.exp-content{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 3%;
}

@media screen and (max-width: 673px){
.main-content{
       display: grid;
        grid-template-columns: repeat(1,1fr)
        /* min-height: 100px;
        margin: 20px auto;
        width: 90%; */
        
    }
}
